# Entornos virtuales
venv/
.venv/
env/
.env

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Documentos
*.docx
*.pdf
*.doc

# Archivos de compilación y distribución
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# Bases de datos
*.sqlite3
*.db

# Otros
.DS_Store
